.attachment-picker {
    &-selection {
        margin-bottom: 1rem;

        img {
            width: 15rem;
        }
    }

    &-actions {
        .button {
            margin-right: 1rem;
        }
    }

    &-grid {
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        grid-gap: 1rem;
        gap: 1rem;

        div {
            padding-top: 100%;
            background-size: cover;
            background-position: center;
            cursor: pointer;

            &:hover {
                opacity: .5;
            }
        }
    }

    &-many {
        width: 100%;

        &-attachments {
            display: flex;
            flex-wrap: wrap;

            &-item {
                width: 10rem;
                height: 10rem;
                background-size: cover;
                background-position: center;
                margin: 0 1rem 1rem 0;

                .button {
                    display: none;
                    margin: .5rem;
                    padding: .5rem .6rem;
                }

                &:hover {
                    .button {
                        display: inline-block;
                    }
                }
            }
        }
    }
}
