.auth {
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 25vh;
    background-image: $gradient-flat;
    background-size: 200%;
    background-position: left;
    animation: background-animation 10s infinite alternate;

    &-card {
        margin: 0 auto;

        &-form {
            &-logo {
                padding: 0 5rem;
                margin-bottom: 2rem;
            }

            &-error {
                color: red;
                margin-bottom: 1rem;
            }

            input[type="text"],
            input[type="password"] {
                margin-bottom: 1rem;
            }
        }
    }
}

@keyframes background-animation {
    from { background-position: left; }
    to { background-position: right; }
}
