.crud-index {
    &-search {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        background: $c-white;
        border-bottom: $border;

        input {
            width: 25%;
        }

        .pagination-links {
            margin-left: auto;
        }
    }

    &-table {
        width: 100%;

        &-sortable {
            cursor: pointer;

            i {
                color: $c-white;
                margin-left: .25rem;
                opacity: .5;
            }

            &:hover {
                i {
                    opacity: .7;
                }
            }
        }

        tr {
            border-bottom: $border;

            &:last-of-type {
                border: none;
            }

            td {
                vertical-align: middle;
                word-break: break-all;

                img {
                    width: 4rem;
                    border: $border-light;
                }

                & > span.crud-index-table-content {
                    display: inline-block;
                    padding: .75rem 1rem;
                }

                &.crud-index-table-action {
                    width: 3rem;

                    a {
                        opacity: .6;
                        font-size: 1.25rem;
                        padding: .25rem 1rem;
                        text-align: center;

                        span {
                            display: none;
                        }

                        &:hover {
                            opacity: 1;

                            i {
                                color: $c-secondary;
                            }
                        }
                    }
                }

                &:first-of-type {
                    padding-left: 1.5rem;
                }

                &:last-of-type {
                    padding-right: 1.5rem;
                }
            }
        }

        thead {
            background: $gradient-flat;

            tr {
                td {
                    span.crud-index-table-content {
                        padding: 1rem;
                        color: $c-grey;
                        font-family: $f-button;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
