.crud-show {
    &-boolean {
        &-green,
        &-red {
            color: $c-grey;
            padding: .25rem .5rem;
            border-radius: .2rem;
            font-weight: bold;
            font-size: .8rem;
        }

        &-green {
            background: rgb(7, 187, 7);
        }

        &-red {
            background: rgb(187, 7, 7);
        }
    }

    &-table {
        width: 100%;

        &-label {
            width: 20%;
            vertical-align: top;
        }

        &-value {
            width: 80%;
        }

        &-label,
        &-value {
            padding: 2rem;
        }

        tr {
            border-bottom: $border-light;

            &:last-of-type {
                border: 0;
            }
        }
    }
}
