.crud-show {
    &-table {
        width: 100%;

        &-label {
            width: 20%;
            vertical-align: top;
        }

        &-value {
            width: 80%;
        }

        &-label,
        &-value {
            padding: 2rem;
        }

        tr {
            border-bottom: $border-light;

            &:last-of-type {
                border: 0;
            }

            a {
                color: $c-secondary;
                font-weight: bold;

                &:hover {
                    color: $c-secondary-dark;
                }
            }
        }
    }
}
