html {
    font-size: 16px;
    color: $c-text;
    font-family: $f-text;
    background-color: $c-grey;
}

* {
    box-sizing: border-box;
    line-height: 170%;
    font-size: 1.1rem;
    text-decoration: none;
    font-family: $f-text;
    color: $c-text;
}

strong {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

s {
    text-decoration: line-through;
}

u {
    text-decoration: underline;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.card,
.modal-card {
    background: white;
    padding: 1.5rem;
    border: $border;
    border-radius: .2rem;
}

.no-padding {
    padding: 0 !important;
}

.flex {
    display: flex;
}

h1, .h1 {
    font-size: 3rem;
    font-family: $f-title;
}

h2, .h2 {
    font-size: 2.5rem;
    font-family: $f-title;
}

h3, .h3 {
    font-size: 2rem;
    font-family: $f-title;
}

h4, .h4 {
    font-size: 1.5rem;
    font-family: $f-title;
}

h5, .h5 {
    font-size: 1rem;
    font-family: $f-title;
}

h6, .h6 {
    font-size: 1rem;
    font-family: $f-title;
}

.w-5 { width: 5% !important; }
.w-10 { width: 10% !important; }
.w-15 { width: 15% !important; }
.w-20 { width: 20% !important; }
.w-25 { width: 25% !important; }
.w-30 { width: 30% !important; }
.w-35 { width: 35% !important; }
.w-40 { width: 40% !important; }
.w-45 { width: 45% !important; }
.w-50 { width: 50% !important; }
.w-55 { width: 55% !important; }
.w-60 { width: 60% !important; }
.w-65 { width: 65% !important; }
.w-70 { width: 70% !important; }
.w-75 { width: 75% !important; }
.w-80 { width: 80% !important; }
.w-85 { width: 85% !important; }
.w-90 { width: 90% !important; }
.w-95 { width: 95% !important; }
.w-100 { width: 100% !important; }
