html {
    font-size: 16px;
    color: $c-text;
    font-family: $f-text;
    background-color: $c-grey;
}

* {
    box-sizing: border-box;
    font-size: 1.1rem;
    text-decoration: none;
    font-family: $f-text;
    color: $c-text;
}

p, h1, h2, h3, h4, h5, h6  {
    line-height: 150%;
}

strong {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

s {
    text-decoration: line-through;
}

u {
    text-decoration: underline;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.card,
.modal-card {
    background: white;
    padding: 1.5rem;
    border: $border;
    border-radius: .2rem;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.flex {
    display: flex;
}

h1, .h1 {
    font-size: 3rem;
    font-family: $f-title;
}

h2, .h2 {
    font-size: 2.5rem;
    font-family: $f-title;
}

h3, .h3 {
    font-size: 2rem;
    font-family: $f-title;
}

h4, .h4 {
    font-size: 1.5rem;
    font-family: $f-title;
}

h5, .h5 {
    font-size: 1rem;
    font-family: $f-title;
}

h6, .h6 {
    font-size: 1rem;
    font-family: $f-title;
}

.w-5 { width: 5% !important; }
.w-10 { width: 10% !important; }
.w-15 { width: 15% !important; }
.w-20 { width: 20% !important; }
.w-25 { width: 25% !important; }
.w-30 { width: 30% !important; }
.w-35 { width: 35% !important; }
.w-40 { width: 40% !important; }
.w-45 { width: 45% !important; }
.w-50 { width: 50% !important; }
.w-55 { width: 55% !important; }
.w-60 { width: 60% !important; }
.w-65 { width: 65% !important; }
.w-70 { width: 70% !important; }
.w-75 { width: 75% !important; }
.w-80 { width: 80% !important; }
.w-85 { width: 85% !important; }
.w-90 { width: 90% !important; }
.w-95 { width: 95% !important; }
.w-100 { width: 100% !important; }

.rambo-warning {
    display: flex;
    align-items: center;
    padding: 1rem;
    line-height: 1.2rem;
    border: 1px solid $c-orange;
    background: rgba($c-orange, 0.05);
    border-radius: 5px;

    i {
        padding-right: 1rem;
        color: $c-orange;
        font-size: 1.5rem;
    }
}

.move-cursor {
    cursor: move !important;
}

// Margins
.mt-1 { margin-top: 1rem !important; }
.mt-2 { margin-top: 2rem !important; }
.mt-3 { margin-top: 3rem !important; }
.mr-1 { margin-right: 1rem !important; }
.mr-2 { margin-right: 2rem !important; }
.mr-3 { margin-right: 3rem !important; }
.mb-1 { margin-bottom: 1rem !important; }
.mb-2 { margin-bottom: 2rem !important; }
.mb-3 { margin-bottom: 3rem !important; }
.ml-1 { margin-left: 1rem !important; }
.ml-2 { margin-left: 2rem !important; }
.ml-3 { margin-left: 3rem !important; }

// Paddings
.pt-1 { padding-top: 1rem !important; }
.pt-2 { padding-top: 2rem !important; }
.pt-3 { padding-top: 3rem !important; }
.pr-1 { padding-right: 1rem !important; }
.pr-2 { padding-right: 2rem !important; }
.pr-3 { padding-right: 3rem !important; }
.pb-1 { padding-bottom: 1rem !important; }
.pb-2 { padding-bottom: 2rem !important; }
.pb-3 { padding-bottom: 3rem !important; }
.pl-1 { padding-left: 1rem !important; }
.pl-2 { padding-left: 2rem !important; }
.pl-3 { padding-left: 3rem !important; }
