.header {
    position: relative;
    display: flex;
    width: 100%;
    background: white;
    border-bottom: $border;
    z-index: 100;

    &-breadcrumbs {
        padding: .5rem;

        li {
            display: inline-block;

            a {
                display: inline-block;
                padding: .75rem;

                &:hover {
                    color: $c-main-dark;
                }
            }
        }
    }

    &-profile {
        display: flex;
        align-items: center;
        margin-left: auto;
        padding: .5rem 3rem .5rem .5rem;

        a {
            display: flex;
            align-items: center;

            p {
                margin-left: .75rem;
                font-size: 1.1rem;
            }

            img {
                width: 2rem;
                height: 2rem;
                border: $border;
                border-radius: .2rem;
            }

            &:hover {
                p {
                    color: $c-main;
                }
            }
        }
    }
}
